---
import { getCollection } from 'astro:content'
import Layout from '../layouts/Layout.astro'
import { CldUploadWidget, CldImage } from 'astro-cloudinary'

const images = await getCollection('images')
---

<Layout title="Cloudinary Hackathon">
	<main class="flex min-h-screen flex-col items-center justify-center gap-8">
		<CldUploadWidget
			id="upload-widget"
			uploadPreset="upload-unsinged-images-hackathon"
			options={{
				sources: ['local'],
				multiple: false,
				maxFiles: 1,
				language: 'es',
				styles: {}
			}}
		>
			<button class="bg-blue-700 p-4 text-white">Upload image</button>
		</CldUploadWidget>
		<div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
			{
				images.map((image) => {
					return (
						<a href={`/photo?id=${image.data.public_id}`}>
							<CldImage
								src={image.data.public_id}
								width={250}
								height={250}
								crop={{
									type: 'fill',
									source: true
								}}
								alt="<Description>"
							/>
						</a>
					)
				})
			}
		</div>
	</main>
</Layout>

<script>
	import { navigate } from 'astro:transitions/client'

	const widget = document.querySelector('#upload-widget')
	if (widget) {
		widget.addEventListener('clduploadwidget:success', ((
			e: CustomEvent<{ info: { public_id: string } }>
		) => {
			const publicId = e.detail.info.public_id
			navigate(`/photo?id=${publicId}`)

			console.log('clduploadwidget:success', e.detail)
		}) as EventListener)
	}
</script>

<style></style>
